#list {
    list-style-type: none;
    display: block;
    white-space: nowrap;
    padding-right: 40px;
}
  
li.list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
  
img.lazyload {
    width: 100px;
    float: left;
    margin-right: 20px;
}