<div class="pager">
	{{if .Page}}
		<a href="/index.html?lang=pt&page={{.Prev}}">&lt&lt</a>
	{{end}}

	{{.Next}}
	
	{{if .Next}}
		<a href="/index.html?lang=pt&page={{.Next}}">&gt&gt</a>
	{{end}}
</div>
