<!DOCTYPE html>
<html lang="pt">
  <head>
    {{template "meta-pt.html"}}
    <style>
      {{template "main.css"}}
      {{template "header.css"}}
      {{template "form.css"}}
    </style>
  </head>
  <body>
    {{template "header-pt.html"}}

    <form class="recipe"
      action="upload.html"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="recipe-form">
        <section>
          <h1>Foto</h1>
          <input type="file" name="picture" accept="image/*">

          <h1>Autor(a)</h1>
          <input type="text" name="author" placeholder="Seu nome" required>

          <h1>Categoria</h1>
          <input type="text" name="category" placeholder="Categoria" required>

          <h1>Título</h1>
          <input type="text" name="title" placeholder="Nome da receita" required>
          
          <h1>Tempo de preparo (opcional)</h1>
          <input type="text" name="time" placeholder="2 horas">

          <h1>Rendimento (opcional)</h1>
          <input type="text" name="servings" placeholder="4 pessoas">
        </section>
        <section>
          <h1>Ingredientes</h1>
          <textarea name="ingredients" rows="10" cols="40" 
            placeholder="um ingrediente por linha" required></textarea>
          
          <h1>Modo de Preparo</h1>
          <textarea name="instructions" rows="10" cols="40" 
            placeholder="uma instrução por linha" required></textarea>
          
          <h1>Notas (opcional)</h1>
          <textarea name="notes" rows="10" cols="40" 
            placeholder="uma nota por linha"></textarea><br>
        </section>
      </div>

      <input type="submit" value="Enviar">
    </form>
    
    {{template "footer-pt.html"}}
  </body>
</html>
